{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title> GALLERY - {{title}}</title>
  {% else %}
    <title> GALLERY </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nosifer&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
  {% endblock %}

</head>
<body>

    {% include "navbar.html" %}
    {% block content %} 
    <h1 style="color:navy; font-size: 70px; font-family: 'Cinzel Decorative', cursive; font-weight: 900;" > MY GALLERY </h1>
     <h1 style="font-family: 'Nosifer', cursive;">{{date|date:"l d-F Y"}}</h1> 
     {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>