<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {%extends 'images/base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}




    <div class="container">


   <div class="row">
       <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
       <div class="jumbotrons">
       <img src="{{image.image.url}}" class="img-responsive" alt="Image" style="width:80%;">
       </div>
       <hr>

   </div>

       <h2>Image Details</h2>

       <div class="col-md-2">

   <div class="row">
       <div class="thumbnail" style="background-color:#000000; color:white;">
       <h5 class="text-center">Image Name:</h5>
       <hp class="text-center">{{image.name}}</hp>
       </div>
   </div>

     <div class="row">
        <div class="thumbnail" style="background-color:#000000; color:white;">
        <h5 class="text-center">Description:</h5>
            <p class="text-center"> {{image.description}}</p>
        </div>
    </div>

   <div class="row">
       <div class="thumbnail" style="background-color:#000000; color:white;">
           <h5 class="text-center">Time Posted:</h5>
     <p class="text-center">Posted {{image.pub_date|timesince}} </p>
       </div>
   </div>
    <div class="row">
        <div class="thumbnail" style="background-color:#000000; color:white;">
        <h5 class="text-center">Image Location:</h5>
        <h6 class="text-center">Location: {{image.location}}</h6>
      </div>
    </div>
     <div class="row">
         <div class="thumbnail" style="background-color:#000000; color:white;">
         <h5 class="text-center">Image Category:</h5>
         <h6 class="text-center">Category: {{image.category}}</h6>
         </div>
    </div>
 </div>


 </div>




    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
</body>
</html>