{%extends 'images/base.html'%}
{% load bootstrap3 %}
{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
{{block.super}}
    <div class="container-fluid display">
        <div class="row">
            {% for image in images %}
            <div class="col-md-4 ">
                <img src="{{image.image.url}}" class="img-fluid img-thumbnail img-responsive" alt="image" height="300px"
                    width="600px" padding-top="3px" data-toggle="modal" data-target="#{{image.title}}{{image.id}}"><br>
            </div>
            <br>
            <div class="modal fade" id="{{image.title}}{{image.id}}" tabindex="-1" role="dialog"
                aria-labelledby="examplemodal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center" id="modaltitle">{{image.title}}</h4><br>
                        </div>
                        <div class="modal-body text-center">
                            <img src="{{image.image.url}}" alt="" width="100%" height="100%">
                        </div>
                        <div class="modal-footer">
                            <p>{{image.description}}</p>
                            <div class="form-group row">
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary btn_toggle"
                                            onclick="copylink(`{{image.image.url}}`)">Copy Image Link</button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-info"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
{% endblock %}
</body>
</html>